# Gradle
.gradle/
**/build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Kotlin/Java
*.class
*.log

# OS
.DS_Store
Thumbs.db

# Keystore (если будет)
*.jks
*.keystore

# Secrets (если где-то появятся)
*.pem
*.p12
*.key

# (Опционально) если используешь Kotlin Symbol Processing
.ksp/

# (Опционально) если используешь Compose/Intellij caches
.idea/caches/
